

.link {
    text-decoration: none;
}

.postsList {
    margin-top: 3vh;
}

/* .break {
    margin-top: 20px;
    margin-bottom: 50px;
} */

/* .image {
    max-width: 50vw;
} */

/* Media queries related to the removed styles are also removed */
