.landing {
  color: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.header {
  font-size: 1.5rem;

  cursor: default;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.para {
  display: flex;
  flex-direction: column;
  justify-content: center;

  line-height: 150%;
  letter-spacing: 0.01em;

  height: 100vh;
  padding: 0% 25% 0% 25%;
}

@media only screen and (max-width: 767px) {
  .para {
    letter-spacing: 0.005em;
    padding: 0% 10% 0% 10%;
  }
}